.footer {
	padding: 4rem 0;
	background-color: #87694D;
	&__container {
		align-items: center;
		justify-content: space-between;
	}
	&__txt {
		max-width: 27rem;
		font-family: Montserrat, sans-serif;
		font-size: 1.6rem;
		color: #fff;
		&:last-child {
			text-align: right;
		}
		a {
			display: block;
		}
	}
}
