
@mixin d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@mixin flex-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-start {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@mixin flex-end {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@mixin placeholder($color, $size) {
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $size;
    line-height: 1;
  }
  &:-moz-placeholder {
    color: $color;
    font-size: $size;
    line-height: 1;
  }
  &::-moz-placeholder {
    color: $color;
    font-size: $size;
    line-height: 1;
  }
  &:-ms-input-placeholder {
    color: $color;
    font-size: $size;
    line-height: 1;
  }
}
