@media only screen and (max-width: 1599.98px) {
	.header__burger.active span:nth-child(3),
	.header__burger.active span:nth-child(1) {
		top: 3.5rem;
	}
}
@media only screen and (max-width: 1199.98px) {
	.menu {
		&__navigation {
			padding: 5rem 2rem 2rem 10rem;
		}
	}

}
@media only screen and (max-width: 991.98px) { }
@media only screen and (max-width: 767.98px) { }
@media only screen and (max-width: 576.98px) {
	.menu {
		padding-top: 7rem;
	}
	.header__burger.active span:nth-child(3),
	.header__burger.active span:nth-child(1) {
		top: 2.5rem;
	}
}
@media only screen and (max-width: 449.98px) {
	.menu {
		&__navigation {
			padding: 5rem 2rem 2rem 7rem;
		}
	}
}
