.delivery {
  padding-top: 5rem;
  padding-bottom: 18rem;
  &__title,
  &__subtitle {
    max-width: 77.3rem;
    margin-left: auto;
  }
  &__title {
    margin-bottom: 4rem;
  }
  &__subtitle {
    margin-bottom: 4.5rem;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
  }
  &__card {
    padding: 3rem 2rem 2rem 3rem;
    width: 37rem;
    border-radius: 0.5rem;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    &:not(:last-child) {
      margin-right: 3rem;
    }
    &_img {
      align-self: stretch;
      background-image: url('../../assets/img/home-page/delivery-truck.jpg');
      background-position: center center;
      background-size: cover;
    }
    &_yellow {
      background-color: #ffc801;
      .card__txt {
        &:not(:last-child) {
          margin-bottom: 3rem;
        }
        font-family: Montserrat, sans-serif;
        font-weight: 700;
      }
    }
    &_white {
      background-color: #f6f6f6;
    }
    address {
      font-style: normal;
      letter-spacing: 0.05em;
    }
  }
  .card {
    &__post {
      margin-bottom: 0.5rem;
      max-width: 25rem;
      flex-wrap: wrap;
    }
    &__txt {
      letter-spacing: 0.05em;
    }
    &__link {
      font-size: 1.4rem;
      color: #c50202;
      text-decoration: underline;
    }
  }
  &__info {
    margin-bottom: 5rem;
  }
  &__images {
    align-items: flex-start;
    justify-content: center;
    img:not(:last-child) {
      margin-right: 3rem;
    }
  }
}
