.single-hero {
  padding-top: 26rem;
  padding-bottom: 16.5rem;
  &__title,
  &__subtitle {
    text-align: center;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.1em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
  &__title {
    margin-bottom: 1.5rem;
    font-size: 4.5rem;
  }
  &__subtitle {
    font-size: 2rem;
    font-weight: 700;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
  }
  &_walnut {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/walnut/walnut.jpg') no-repeat center center / cover;
  }
  &_walnut-hybrids {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/walnut-hybrids/walnut-hybrids.jpg') no-repeat center center / cover;
  }
  &_manchurian {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/manchurian/manchurian.jpg') no-repeat center center / cover;
  }
  &_siebold {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/siebold/siebold.jpg') no-repeat center center / cover;
  }
  &_heart-shaped {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/heart-shaped/heart-shaped.jpg') no-repeat center center / cover;
  }
  &_kariya-heart-shaped {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/kariya-heart-shaped/kariya-heart-shaped.jpg') no-repeat center center /
        cover;
  }
  &_ginkgo-biloba {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/ginkgo-biloba/ginkgo-biloba.jpg') no-repeat center center / cover;
  }
  &_dogwood {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/dogwood/dogwood.jpg') no-repeat center center / cover;
  }
  &_dogwood-forms {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/dogwood-forms/dogwood-forms.jpg') no-repeat center center / cover;
  }
  &_pecan {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/pecan/pecan.jpg') no-repeat center center / cover;
  }
  &_agro-technique {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/agro-technique/agro-technique.jpg') no-repeat center center / cover;
  }
  &_posts-list {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/posts-list/posts.jpg') no-repeat center center / cover;
  }
  &_new {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/new/new.jpg') no-repeat center center / cover;
  }
  &_black-walnut-forms {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/black-walnut-forms/hero.jpg') no-repeat center center / cover;
  }
  &_black-walnut {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 36%, rgba(46, 46, 46, 0.3) 100%),
      url('../../assets/img/walnut-black/hero.jpg') no-repeat center center / cover;
  }
}
